{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
    <div class="hello-form">
        {{ render_form(fact_form, action=request.full_path) }}
    </div>

    <div class="hello-form">
        {{ render_form(restore_form) }}
    </div>



    <p></p>

    <!-- This is Predicates Rank 1 -->
    <h5>{{ predicates|length }} Predicates</h5>
    <div class="list-group">
        {% for predicate in predicates %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ predicate.c_type}}
                       <!-- <small class="text-muted"> #{{ loop.revindex }}</small> -->
                    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ predicate.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                           data-delay="500">
                        {{ moment(predicate.timestamp).fromNow(refresh=True) }}
                    </small>
                </div>
                <p class="mb-1">{{ predicate.body }}</p>
                <p class="mb-2">{{ predicate.nl_body }}</p>
            </a>
        {% endfor %}
    </div>
    <p></p>
    <!-- Facts will be displayed at 2 -->

    <h5>{{ facts|length }} Facts</h5>
    <div class="list-group">
        {% for fact in facts %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ fact.body}}
                       <!-- <small class="text-muted"> #{{ loop.revindex }}</small> -->
                    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ fact.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                           data-delay="500">
                        {{ moment(fact.timestamp).fromNow(refresh=True) }}
                    </small>
                </div>
                <p class="mb-1">{{ fact.body }}</p>
                <p class="mb-2">{{ fact.nl_body }}</p>
            </a>
        {% endfor %}
    </div>
    <p></p>
    <!-- Emotional -->
    <h5>{{ emotionals|length }} Emotionals</h5>
    <div class="list-group">
        {% for emotional in emotionals %}
            <a class="list-group-item list-group-item-action flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 text-success">{{ emotional.c_type}}
                       <!-- <small class="text-muted"> #{{ loop.revindex }}</small> -->
                    </h5>
                    <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ emotional.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                           data-delay="500">
                        {{ moment(emotional.timestamp).fromNow(refresh=True) }}
                    </small>
                </div>
                <!--
                <p class="mb-1">{{ emotional.entity }}</p>
                -->
                <p class="mb-2">{{ emotional.nl_body }}</p>
            </a>
        {% endfor %}
    </div>

{% endblock %}
